@charset "UTF-8";
h1, h2, h3, h4, h5 {
  margin: 0;
  font-size: normal; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

html {
  font-size: 16px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.mainwrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative; }

.order {
  border-radius: 0.3125rem;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 6.25rem;
  height: 2.375rem;
  background-color: #e45028;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .order:hover {
    background-color: #c1401e;
    cursor: pointer; }

.order--colorless {
  width: 6.25rem;
  height: 2.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: none; }
  .order--colorless:hover {
    background-color: #646261;
    border-radius: 5px; }

.order--grey {
  border-radius: 0.3125rem;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 6.25rem;
  height: 2.375rem;
  background-color: #2f3234;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 130px; }
  @media screen and (max-width: 480px) {
    .order--grey {
      margin: 0 auto;
      width: 8.125rem; } }

.order-link {
  margin: auto;
  color: #fff; }

.main_title {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #f9b43b;
  line-height: 4rem; }
  @media screen and (max-width: 480px) {
    .main_title {
      font-size: 50px;
      line-height: 48px; } }
  @media screen and (max-width: 375px) {
    .main_title {
      font-size: 30px;
      line-height: 36px; } }

.main_title--black {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .main_title--black {
      font-size: 50px;
      line-height: 48px; } }
  @media screen and (max-width: 375px) {
    .main_title--black {
      font-size: 30px;
      line-height: 36px; } }

.main_title--white {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #ffffff;
  line-height: 64px; }
  @media screen and (max-width: 480px) {
    .main_title--white {
      font-size: 50px;
      line-height: 48px; } }
  @media screen and (max-width: 375px) {
    .main_title--white {
      font-size: 30px;
      line-height: 36px; } }

.screen {
  height: 100vh;
  min-height: 650px; }
  @media screen and (max-width: 480px) {
    .screen {
      min-height: auto; } }

.div--hiddenWrapper {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.pagination {
  position: fixed;
  top: 5%;
  right: 5%; }

.pagination__link:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 10px 16px; }

.onepage-pagination {
  right: 25px;
  top: 9%; }

.onepage-pagination li a:before {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.85); }

.onepage-pagination li a.active:before {
  width: 12px;
  height: 12px;
  border: 1px solid white;
  margin-top: -4px;
  left: 7px; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.eot");
  src: url("../fonts/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.eot");
  src: url("../fonts/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.eot");
  src: url("../fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.eot");
  src: url("../fonts/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.eot");
  src: url("../fonts/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.first_screen {
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.first_wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.first_wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.we-do {
  position: absolute;
  top: 20%;
  -webkit-box-flex: .8;
  -webkit-flex: .8;
  -ms-flex: .8;
  flex: .8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .we-do {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 75px; } }
  @media screen and (max-width: 480px) {
    .we-do {
      padding: 0; } }

@media screen and (max-width: 480px) {
  .main-title--modif {
    font-size: 63px; } }

@media screen and (max-width: 375px) {
  .main-title--modif {
    font-size: 30px; } }

.we-do__descr {
  margin-left: 40px;
  margin-top: 25px;
  line-height: 1.3; }
  @media screen and (max-width: 768px) {
    .we-do__descr {
      text-align: center;
      margin-top: 50px; } }
  @media screen and (max-width: 480px) {
    .we-do__descr {
      margin-top: 10px; } }
  @media screen and (max-width: 900px) {
    .we-do__descr {
      margin-left: 0; } }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item:last-child {
  padding-right: 10px; }
  .menu__item:last-child .menu__link:after {
    display: none; }

.menu__link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__link:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px; }
  .menu__link:hover {
    color: #f9b43b; }

.menu-hamburger-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.hamb-icon {
  display: none;
  border-top: 4px #fff solid;
  border-bottom: 4px #fff solid;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin: 10px 20px;
  border-radius: 1px; }
  .hamb-icon:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    border-top: 4px #fff solid;
    margin-top: -2px;
    border-radius: 1px; }
  @media screen and (max-width: 768px) {
    .hamb-icon {
      display: block; } }

.menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-fonts, .order-link {
  font-family: 'ubuntumedium';
  text-transform: uppercase;
  font-size: 0.8125rem; }

.hamb-menu {
  display: none;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  background: rgba(47, 50, 52, 0.99);
  height: 100%; }

.hamb-menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media screen and (max-width: 768px) {
  .logo_container {
    margin: 10px 0px 0px 20px; } }

.closeIcon {
  margin: 30px 20px 0px 0px; }

.hamb-menu__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.hamb-menu__item:last-child .hamb-menu__link:after {
  display: none; }

.hamb-menu__link {
  display: inline-block;
  margin: 30px;
  font-family: 'ubunturegular';
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative; }
  @media screen and (max-width: 375px) {
    .hamb-menu__link {
      margin: 20px; } }
  .hamb-menu__link:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 200%; }
    @media screen and (max-width: 375px) {
      .hamb-menu__link:after {
        top: 150%; } }

.we-do__img img {
  width: 28.75rem; }
  @media screen and (max-width: 900px) {
    .we-do__img img {
      width: 26rem; } }
  @media screen and (max-width: 480px) {
    .we-do__img img {
      width: 20rem; } }

.we-do_second-slogan {
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  line-height: 85px;
  color: #FFF; }
  @media screen and (max-width: 480px) {
    .we-do_second-slogan {
      font-size: 54px;
      line-height: 48px; } }
  @media screen and (max-width: 375px) {
    .we-do_second-slogan {
      font-size: 2.5rem;
      line-height: 2.25rem; } }

.screen_scroll-down {
  position: absolute;
  bottom: 5%;
  left: 49.5%; }

.screen_scroll-down img:hover {
  fill: #f9b43b; }

.best_screen {
  background-color: rgba(0, 0, 0, 0.31);
  background-image: url(../img/bg_best.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.best_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .best_wrapper {
      width: 98%; } }

.profit_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
  margin-top: 60px;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .profit_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0px;
      margin-top: 0; } }
  @media screen and (max-width: 768px) {
    .profit_content {
      margin-bottom: 50px; } }

.profit_content__profit_item {
  width: 30%;
  margin: 0rem 1.25rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .profit_content__profit_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 98%;
      margin: 5px 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

@media screen and (max-width: 480px) {
  .profit__descr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
    line-height: 24px;
    width: 65%; } }

.profit_title {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0375rem;
  margin-top: 2.1875rem;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .profit_title {
      font-size: 24px;
      line-height: 28px;
      margin-top: 1.25rem;
      margin-bottom: 0.625rem; } }

.descr_text {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .descr_text {
      line-height: 0.875rem; } }

@media screen and (max-width: 480px) {
  .profit_img {
    width: 35%; } }

.burger__screen {
  background-color: rgba(0, 0, 0, 0.31);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #f9b43b), color-stop(40%, #eb8c38), color-stop(80%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 20%, #eb8c38 40%, #f9b43b 80%);
  background: -o-linear-gradient(bottom, #f9b43b 20%, #eb8c38 40%, #f9b43b 80%);
  background: linear-gradient(to top, #f9b43b 20%, #eb8c38 40%, #f9b43b 80%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.burger__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.burger__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 98%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .burger__slider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 595px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .burger__slider {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-width: 345px; } }

@media screen and (max-width: 768px) {
  .burger__pic {
    margin-top: 150px; } }

@media screen and (max-width: 480px) {
  .burger__pic {
    margin-top: 110px; } }

.burger__pic-img {
  margin: 30% 0; }
  @media screen and (max-width: 768px) {
    .burger__pic-img {
      margin: 15px 0; } }
  @media screen and (max-width: 480px) {
    .burger__pic-img {
      max-width: 300px;
      margin: 5px 0; } }

.burger__ingridients {
  position: absolute;
  top: 12%;
  left: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  background-color: #f08c33;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border-radius: 5px; }
  .burger__ingridients:hover .ingridients__table {
    display: block; }
  @media screen and (max-width: 480px) {
    .burger__ingridients {
      top: 10%; } }

.ingridients__table {
  display: none;
  position: absolute;
  left: 85px;
  top: 0;
  font-family: "ubunturegular";
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 10px;
  width: 270px; }

.ingridients__table tr {
  height: 54px; }

td:first-child {
  width: 80px; }

td:nth-child(2) {
  width: 100px;
  text-align: left;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  font-family: 'ubuntumedium'; }

td:nth-child(3) {
  width: 70px;
  text-align: right;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.ingridients__svg {
  width: 38px;
  height: 38px; }

.burger__calories {
  position: absolute;
  bottom: 12%;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 5px;
  text-align: center;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .burger__calories {
      top: 10%;
      right: 0;
      left: 80%; } }
  @media screen and (max-width: 480px) {
    .burger__calories {
      top: 8%;
      right: 0;
      left: 76%; } }

.burger__calories-num {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 90px;
  height: 95px;
  margin: -50px 0px;
  font-size: 20px;
  line-height: 26px;
  font-family: 'gagalinregular'; }

.burger__calories-num span {
  font-size: 14px; }

.burger__btn-ingr, .burger__btn-cal {
  width: 60px;
  height: 60px;
  margin: auto;
  fill: #fff; }

.btn__desc {
  font-size: 20px;
  line-height: 24px;
  font-family: 'gagalinregular'; }

.burger__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 480px;
  margin-left: 15px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .burger__content {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .burger__content {
      max-width: 320px;
      text-align: center;
      height: 250px; } }

.burger__content-text {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  margin-top: 35px; }
  @media screen and (max-width: 768px) {
    .burger__content-text {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .burger__content-text {
      margin-top: 15px; } }

.burger__content-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px; }
  @media screen and (max-width: 480px) {
    .burger__content-order {
      margin-top: 15px; } }

.burger__content-price {
  font-size: 72px;
  line-height: 12px;
  font-family: 'gagalinregular';
  color: #e35028;
  margin-right: 15px; }
  @media screen and (max-width: 480px) {
    .burger__content-price {
      font-size: 50px; } }

.burger__content-price--currency {
  font-size: 30px; }
  @media screen and (max-width: 480px) {
    .burger__content-price--currency {
      font-size: 24px; } }

.screen_scroll-down--left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  left: 3.5%;
  top: 50%; }
  @media screen and (max-width: 768px) {
    .screen_scroll-down--left {
      left: 5%; } }

.screen_scroll-down--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  right: 3.5%;
  top: 50%; }
  @media screen and (max-width: 768px) {
    .screen_scroll-down--right {
      right: 5%; } }

@media screen and (max-width: 768px) {
  .burger__content-title {
    max-width: 470px;
    text-align: center;
    margin-top: 25px; } }

@media screen and (max-width: 480px) {
  .burger__content-title {
    margin-top: 15px; } }

.bx-wrapper {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.bx-wrapper .bx-next {
  background: none; }

.bx-wrapper .bx-prev {
  background: none; }

.bx-wrapper .bx-pager {
  display: none; }

.review__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*   обнуление стилей списка */
  list-style: none;
  padding: 0; }

/* .review_item_pair { */
/* display: flex;   */
/* } */
.review_item {
  /* 	flex-grow: 1; */
  /* 	min-height:rem(327px);
	  flex-basis:rem(276px); */
  width: 25%;
  height: 50%;
  overflow: hidden;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  @media screen and (max-width: 768px) {
    .review_item {
      width: 50%;
      height: 25%; } }

.review_descr {
  opacity: 0;
  height: 100%;
  padding: 50px 30px 30px 20px; }
  @media screen and (max-width: 768px) {
    .review_descr {
      padding: 30px 20px 10px 20px;
      text-align: center; } }
  .review_item .review_descr:hover {
    opacity: 1; }

.review_item1 {
  background: url(../img/review_img_1.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item2 {
  background: url(../img/review_img_2.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item3 {
  background: url(../img/review_img_3.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item4 {
  background: url(../img/review_img_4.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item5 {
  background: url(../img/review_img_5.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item6 {
  background: url(../img/review_img_6.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item7 {
  background: url(../img/review_img_7.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_item8 {
  background: url(../img/review_img_8.jpg);
  background-size: cover;
  background-clip: padding-box; }

.review_name {
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .review_name {
      font-size: 24px;
      line-height: 28px; } }
  .review_name .review_name--black {
    color: black;
    font-family: 'gagalinregular';
    font-size: 0.875rem;
    margin-bottom: 20px; }

.review_text {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .review_text {
      display: none; } }

.review__popup {
  display: none;
  margin: 10% 10%;
  border-radius: 10px; }

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #f32b2b;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2; }

.team_screen {
  background-color: rgba(0, 0, 0, 0.31);
  background-image: url(../img/team-bg.jpg);
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team_screen {
      background-position: center center; } }

.team_wrapper {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  background-size: cover;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 80px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .team_wrapper {
      left: 0%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding-left: 0px; } }
  @media screen and (max-width: 480px) {
    .team_wrapper {
      padding-top: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team-acco__trigger {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'gagalinregular';
  font-size: 1.5rem; }
  .team-acco__trigger:before {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin-right: 10px;
    content: "";
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px; }
  @media screen and (max-width: 480px) {
    .team-acco__trigger {
      font-size: 24px; } }

.team-acco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 135px; }
  @media screen and (max-width: 768px) {
    .team-acco {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 135px; } }
  @media screen and (max-width: 480px) {
    .team-acco {
      margin-top: 70px; } }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team-acco__pic-img {
  border-radius: 50%; }

.team-acco__text {
  color: #fff;
  margin-left: 15px;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  line-height: 29px; }
  @media screen and (max-width: 768px) {
    .team-acco__text {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team-acco__text {
      font-size: 14px;
      line-height: 24px; } }

.team-acco__text-title {
  font-weight: 800; }
  @media screen and (max-width: 480px) {
    .team-acco__text-title {
      font-size: 14px;
      line-height: 24px; } }

.team-acco__content {
  display: none; }

.team-acco__item_active .team-acco__content {
  display: block;
  overflow: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 15px; }
  @media screen and (max-width: 768px) {
    .team-acco__item_active .team-acco__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-acco__item {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-acco__trigger--active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__trigger--active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.menu_screen {
  background-color: rgba(236, 234, 234, 0.31);
  background-image: url(../img/menu/menu-bg.png);
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.menu_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  right: 0; }

.menu__title {
  position: absolute;
  left: 10%;
  top: 10%; }
  @media screen and (max-width: 480px) {
    .menu__title {
      left: 7%;
      top: 5%; } }

.vertical-accordeon {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }

.vertical-accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  width: 5rem; }
  @media screen and (max-width: 480px) {
    .vertical-accordeon__item {
      width: 65px; } }

.vertical-accordeon__textblock {
  width: 0;
  overflow: hidden;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.vertical-accordeon__item_active {
  width: 100%; }
  .vertical-accordeon__item_active .vertical-accordeon__link {
    color: #f9b43b; }
  .vertical-accordeon__item_active .vertical-accordeon__textblock {
    width: 750px;
    overflow: hidden;
    background: rgba(47, 50, 52, 0.93);
    padding: 60px 30px 0px 30px; }
    @media screen and (max-width: 900px) {
      .vertical-accordeon__item_active .vertical-accordeon__textblock {
        width: 350px;
        padding: 0px; } }
    @media screen and (max-width: 768px) {
      .vertical-accordeon__item_active .vertical-accordeon__textblock {
        width: 265px;
        padding: 0px; } }
    @media screen and (max-width: 480px) {
      .vertical-accordeon__item_active .vertical-accordeon__textblock {
        width: 180px;
        padding: 0px; } }
    @media screen and (max-width: 375px) {
      .vertical-accordeon__item_active .vertical-accordeon__textblock {
        width: 110px;
        padding: 0px; } }

.vertical-accordeon__text {
  width: 700px;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff; }
  @media screen and (max-width: 900px) {
    .vertical-accordeon__text {
      width: 310px; } }
  @media screen and (max-width: 768px) {
    .vertical-accordeon__text {
      width: 220px; } }
  @media screen and (max-width: 480px) {
    .vertical-accordeon__text {
      width: 130px;
      margin: 15px 15px;
      font-size: 0.625rem;
      font-weight: 300;
      line-height: 0.75rem; } }
  @media screen and (max-width: 375px) {
    .vertical-accordeon__text {
      width: 80px;
      margin: 10px; } }

.vertical-accordeon__link {
  display: inline-block;
  height: 100%;
  font-family: 'gagalinregular';
  font-size: 2.5rem;
  color: white;
  margin: auto;
  line-height: 5rem;
  background-size: cover;
  background-position: center bottom; }
  @media screen and (max-width: 480px) {
    .vertical-accordeon__link {
      line-height: 4.375rem; } }

.vertical-accordeon__link div {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  height: 100%;
  text-align: center;
  width: 5rem; }
  @media screen and (max-width: 480px) {
    .vertical-accordeon__link div {
      width: 4.375rem; } }

.contacts_screen {
  background-color: rgba(236, 234, 234, 0.31);
  background-size: cover;
  background-position: center bottom;
  position: relative; }

.contacts_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.map {
  width: 100%;
  height: 100%; }

.order_screen {
  background-image: url(../img/form/form-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  text-align: center; }

.order_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

@-moz-document url-prefix() {
  .order__content-title {
    margin-top: 60px; } }

.form {
  width: 100%;
  margin-top: 40px; }
  @media screen and (max-width: 768px) {
    .form {
      margin-top: 35px; } }

.form__content {
  margin-bottom: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .form__content {
      margin-bottom: 0px; } }

.form-content__column {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .form-content__column {
      width: 460px; } }
  @media screen and (max-width: 480px) {
    .form-content__column {
      width: 100%;
      padding: 5px 15px; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff; }
  .form__block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .form__block {
      font-size: 14px; } }

@media screen and (max-width: 375px) {
  .form__block--column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

.form__input {
  width: 100%;
  height: 2.1875rem;
  border-radius: 4px;
  border: 0; }
  @media screen and (max-width: 480px) {
    .form__input {
      height: 2.1875rem; } }
  @media screen and (max-width: 375px) {
    .form__input {
      height: 1.5625rem; } }

.textarea {
  height: 6.875rem;
  max-height: 110px;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }
  @media screen and (max-width: 480px) {
    .textarea {
      height: 3.75rem; } }

.checkbox,
.radio__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.checkbox__custom,
.radio__custom {
  width: 14px;
  height: 14px;
  background: #fff;
  position: relative; }

.checkbox__custom,
.radio__custom,
.radio__text {
  display: inline-block;
  vertical-align: middle; }

.radio__input:checked + .radio__custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #e45028;
  border-radius: 4px; }

.checkbox:checked + .checkbox__custom::before {
  content: url(../img/form/arrow.png);
  display: block;
  position: absolute;
  top: -4px;
  left: 2px; }
  @media screen and (max-width: 480px) {
    .checkbox:checked + .checkbox__custom::before {
      top: 0;
      left: 18%; } }

.radio__custom,
.radio__input:checked + .radio__custom::before {
  border-radius: 50%; }

.radio__label {
  margin-right: 15px; }

.radio__text, .checkbox__text {
  margin-left: 10px; }

@media screen and (max-width: 480px) {
  .row2, .row3, .row4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 0.3125rem; } }

@media screen and (max-width: 375px) {
  .row2, .row3, .row4 {
    margin-top: 0.4375rem; } }

button.order {
  border-width: 0px;
  cursor: pointer; }

.result {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff;
  width: 40%;
  text-align: center;
  border: 4px solid #f9b43b;
  border-radius: 5px;
  position: absolute;
  bottom: 20%;
  background-color: #dfa338;
  height: 150px;
  left: 30%;
  display: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #101010;
  height: 3.4375rem; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 110px; } }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .footer__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 60px 0px 0px; }
  @media screen and (max-width: 480px) {
    .socials {
      margin: 0 0 15px 0; } }

.footer__tel {
  color: #e45028;
  font-family: 'ubunturegular';
  font-weight: 800;
  margin: 0px 0px 0px 80px; }
  @media screen and (max-width: 480px) {
    .footer__tel {
      margin: 15px 0px 0px 0px; } }

.footer__adress {
  color: #fff;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 10px 0px 0px 80px;
  font-size: 14px; }
  @media screen and (max-width: 480px) {
    .footer__adress {
      margin: 10px 0px 0px 0px; } }

.socials__item {
  margin-right: 10px; }

.icons {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  fill: #5b5b5b;
  width: 23px;
  height: 23px; }
  .icons:hover {
    fill: #e45028; }
  .icons:first-child {
    margin-left: 0; }

/*# sourceMappingURL=main.css.map */