@charset "UTF-8";
h1, h2, h3, h4, h5 {
  margin: 0;
  font-size: normal; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.mainwrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative; }

.order {
  border-radius: 0.3125rem;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 6.25rem;
  height: 2.375rem;
  background-color: #e45028;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.order-link {
  margin: auto; }

.main_title {
  font-family: 'gagalinregular';
  font-size: 4rem;
  color: #f9b43b; }

.screen {
  height: 100vh;
  min-height: 650px; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.eot");
  src: url("../fonts/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.eot");
  src: url("../fonts/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.eot");
  src: url("../fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.eot");
  src: url("../fonts/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.eot");
  src: url("../fonts/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.first_screen {
  background: url("../img/bg2.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.first_wrapper {
  position: relative; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.first_wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.we-do {
  position: absolute;
  top: 25%;
  -webkit-box-flex: .8;
  -webkit-flex: .8;
  -ms-flex: .8;
  flex: .8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .we-do {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 150px; } }

.we-do__descr {
  color: #fff; }
  @media screen and (max-width: 768px) {
    .we-do__descr {
      text-align: center;
      margin-top: 50px; } }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item:last-child {
  padding-right: 10px; }
  .menu__item:last-child .menu__link:after {
    display: none; }

.menu__link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__link:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px; }

.menu-hamburger-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.hamb-icon {
  display: none;
  border-top: 4px #fff solid;
  border-bottom: 4px #fff solid;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin: 10px 20px;
  border-radius: 1px; }
  .hamb-icon:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    border-top: 4px #fff solid;
    margin-top: -2px;
    border-radius: 1px; }
  @media screen and (max-width: 768px) {
    .hamb-icon {
      display: block; } }

.menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-fonts, .order-link {
  font-family: 'ubuntumedium';
  text-transform: uppercase;
  font-size: 0.8125rem; }

.we-do__img img {
  max-width: 100%; }

.we-do_second-slogan {
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  color: black; }

.screen_scroll-down {
  position: absolute;
  bottom: 5%;
  left: 50%; }

.best_screen {
  background-color: rgba(0, 0, 0, 0.31);
  background-image: url(../img/bg_best.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.best_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-start;
  -webkit-justify-content: space-start;
  -ms-flex-pack: space-start;
  justify-content: space-start; }

.profit_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.profit_content__profit_item {
  width: 30%;
  margin: 0rem 1.25rem;
  text-align: center; }

.profit_title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0375rem;
  margin-top: 2.1875rem;
  margin-bottom: 1.5625rem; }

.descr_text, .accordeon_descr {
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.main_title_div {
  margin: 5rem; }

.profit_img {
  height: 5.625rem; }

.review__list {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*   обнуление стилей списка */
  list-style: none;
  padding: 0; }

/* .review_item_pair { */
/* display: flex;   */
/* } */
.review_item {
  /* 	flex-grow: 1; */
  /* 	min-height:rem(327px);
	flex-basis:rem(276px); */
  width: 25%;
  height: 50%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .review_item {
      width: 50%;
      height: 25%; } }

.review_item1 {
  background: url(../img/review_img_1_2.png);
  background-size: cover;
  background-clip: padding-box;
  background-position: center center;
  background-origin: content-box; }

.review_item2 {
  background: url(../img/review_img_2.png);
  background-size: cover;
  background-clip: padding-box; }

.review_item3 {
  background: url(../img/review_img_3_2.png);
  background-size: cover;
  background-clip: padding-box; }

.review_item4 {
  background: url(../img/review_img_4.png);
  background-size: cover;
  background-clip: padding-box; }

.review_item5 {
  background: url(../img/review_img_5.png);
  background-size: cover;
  background-clip: padding-box; }

.review_item6 {
  background: url(../img/review_img_6.png);
  background-size: cover;
  background-clip: padding-box; }

.review_item7 {
  background: url(../img/review_img_7.png);
  background-size: cover;
  background-clip: padding-box; }

.review_item8 {
  background: url(../img/review_img_8.png);
  background-size: cover;
  background-clip: padding-box; }

.team_screen {
  background-color: rgba(0, 0, 0, 0.31);
  background-image: url(../img/team-bg.png);
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team_screen {
      background-position: center center; } }

.team_wrapper {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  background-image: url(../img/team-rect.png);
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .team_wrapper {
      left: 0%;
      width: 100%; } }

.accordeon_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .accordeon {
    text-align: center; } }

.accordeon_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.accordeon_descr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.accordeon_name {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75687rem; }

.accordeon_descr {
  color: #ffffff; }

.accordeon_descr-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.accordeon_descr-ul li {
  padding: 0.3125rem; }

.menu_screen {
  background-color: rgba(236, 234, 234, 0.31);
  background-image: url(../img/menu/menu-bg.png);
  background-size: cover;
  position: relative; }

.menu_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

.vertical-accordeon {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }

.vertical-accordeon__item {
  width: auto;
  height: 100%; }

.vertical-accordeon__link {
  font-family: 'gagalinregular';
  font-size: 2.5rem;
  color: white;
  margin: auto;
  line-height: 6.875rem; }

.vertical-accordeon__link div {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  height: 100%;
  text-align: center;
  width: 6.875rem; }

.vertical-accordeon__textblock {
  width: 0;
  overflow: hidden; }

.contacts_screen {
  background-color: rgba(236, 234, 234, 0.31);
  background-image: url(../img/contacts/map-markers-bg.png);
  background-size: cover;
  background-position: center bottom;
  position: relative; }

.contacts_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.order_screen {
  background-image: url(../img/form/form-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff; }

.form-content__column {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.column2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.column2:first-child {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fff; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  height: 2.1875rem;
  border-radius: 4px;
  border: 0; }

.textarea {
  height: 6.875rem;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }

.paycard {
  margin-left: 20px;
  margin-right: 10px; }

.radio, .checkbox {
  margin-right: 10px; }

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }

.radio + label {
  cursor: pointer; }

.radio:not(checked) {
  position: absolute;
  opacity: 0; }

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px; }

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF; }

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 4.5px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background: #e35028; }

.checkbox {
  position: relative;
  padding-left: 25px; }

.checkbox input[type=checkbox] {
  display: none; }

.checkbox label:after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  outline: 1px solid #939598;
  position: absolute;
  top: 0;
  left: 0; }

.checkbox input[type=checkbox]:checked + label:after {
  outline: 1px solid #939598;
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
  background-color: #63849F; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #101010;
  min-height: 3.4375rem; }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.socials__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__tel {
  color: #e45028;
  font-family: 'ubuntu';
  font-weight: bold; }

.footer__adress {
  color: #fff;
  font-family: 'ubuntu';
  font-weight: light; }

.socials__icons {
  color: #fff; }

/*# sourceMappingURL=main.css.map */