.best_screen {
    background-color: rgba(0,0,0,0.31);
    background-image: url(../img/bg_best.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    
}

.best_wrapper {
    display: flex;
	width: 80%;
	margin: 0 auto;
	height: 100%;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    overflow: hidden;
    //////разбораться с вылезанием за границы
    @include phone {
        width: 98%;  
    }
}

.profit_content {
    display: flex;
    //flex-wrap:wrap;
    margin-bottom: 90px;
   margin-top: 60px;
   width: 100%;
    @include phone {
        flex-direction: column;
       margin-bottom: 0px;
        margin-top: 0;
    }
    @include tablet {
        margin-bottom: 50px;
    }
    
}

.profit_content__profit_item {
    width: 30%;
    margin: rem(0px) rem(20px);
    text-align: center;
    @include phone {
    display: flex;
    width: 98%;
    margin:5px 0;
    align-items: center;
    }
}



.profit__descr {
    @include phone {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 30px;
        line-height: 24px;
        width: 65%;
    }
}

.profit_title {
    color: #2f3234;
    font-family: lifehackmedium;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(28px);
    letter-spacing: rem(-0.6px);
    margin-top: rem(35px);
    margin-bottom: rem(25px);
    @include phone {
        font-size: 24px;
        line-height: 28px;
        margin-top: rem(20px);
        margin-bottom: rem(10px);
    }
    
}

.descr_text {
      @include text;
      @include phone {
         line-height: rem(14px);
      }
}


.profit_img {
    @include phone {
        width: 35%;
    }
    
}

