.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #101010;
    height: rem(55px);
    @include phone {
        height: 110px;
    }
    
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include phone {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

.socials {
    display: flex;
    margin: 15px 60px 0px 0px;
    @include phone {
        
        margin: 0 0 15px 0; 
    }

}

.footer__tel {
    color: #e45028;
    font-family: 'ubuntu';
    font-weight: 800;
    margin: 0px 0px 0px 80px;

    @include phone {
        margin: 15px 0px 0px 0px; 
    }
}
.footer__adress {
    color:#fff;
    @include text;
    margin: 10px 0px 0px 80px;
    font-size: 14px;
    @include phone {
        margin: 10px 0px 0px 0px; 
    }
}

.icons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    fill: #5b5b5b;
    width: 23px;
    height: 23px;
    &:hover {
      fill: #e45028;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  