.order_screen {
    background-image: url(../img/form/form-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    
}

.order_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.form__content {
    margin-bottom: 150px;
    display: flex;
    color: #fff;
    text-align: left;
    @include tablet {
		flex-direction: column;
    }
    @include phone {
        margin-bottom: 0px;
    }
}

.form-content__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    margin: 0 auto;

    @include tablet {
        width:460px;
    }

    @include phone {
        width: 100%;
    }
}

.form__row {
    display: flex; 
}

// .column2 {
//     flex:1;
// }
// .column2:first-child {
//     flex:2;
// }


.form__block {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 10px;
    
    &:last-child {
      margin-right: 0;
    }

    @include text;
    color: #fff;

    @include phone {
        font-size: 14px;
    }
  }

.form__block--column{

    @include phone--small {
        display: flex;
        flex-direction: column;
    }
}

.form__input {
    width:100%;
    height: rem(35px);
    border-radius: 4px;
    border: 0;

    @include phone {
        height: rem(35px);
    }

    @include phone--small {
        height: rem(25px);
    }

    
}
.textarea {
    height: rem(110px);
    max-height: 110px;
    resize: none;
    width: 100%; 
    box-sizing: border-box;
    flex:3;

    @include phone {
        height: rem(60px);
      }
}


//   #cash {display: none;}
//   [for="cash"] {
//     position: relative;
//     display: block;
//     width: 14px;
//     height: 14px;
//     border-radius: 100%;
//     cursor: pointer;
//   }
  
//   /* точка внутри */
//   [for="cash"]:after {
//     content: "";
//     position: absolute;
//     left: 40%; top: 40%;
//     width: 20%;
//     height: 20%;
//     border-radius: 100%;
//     background: #fff;        
//   }
  
//   /* кружок */
//   [for="cash"]:before {
//     content: "";
//     position: absolute;
//     top: 8%; right: 8%; bottom: 8%; left: 8%;
//     border-radius: 100%;
//     background: #fff;  
//   }
//   #cash:checked ~ [for="cash"]:before {
//     background: #fff;
//   }
//   #cash:checked ~ [for="cash"]:after {
//     background: #e45028;  
//   }
  

.checkbox,
.radio__input {
    display: none;
}
.checkbox__custom,
.radio__custom {
    width: 14px;
    height: 14px;
    background: #fff;
    //border: 2px solid rgb(100, 23, 23);
    //border-radius: 3px;
    position: relative;
}
.checkbox__custom,
.radio__custom,
.radio__text {
    display: inline-block;
    vertical-align: middle;   
}
.radio__input:checked + .radio__custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: #e45028;
    border-radius: 4px;
}

.checkbox:checked + .checkbox__custom::before {
    //content: "\2714";
    content: url(../img/form/arrow.png);
    display: block;
    position: absolute;
    top: -4px;    
    left: 2px;
   @include phone {
    top: 0;    
    left: 18%;
   }
}

.radio__custom,
.radio__input:checked + .radio__custom::before {
    border-radius: 50%;
    //margin-right: 10px;
}

.radio__label {
margin-right: 15px;
}

.radio__text, .checkbox__text {   
    margin-left: 10px;
}

.row2, .row3, .row4 {
    @include phone {
        align-self: center;
        margin-top: rem(40px);
    }
    @include phone--small {
        margin-top: rem(20px);
    }
}