.order_screen {
    background-image: url(../img/form/form-bg.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    
}

.form__content {
    display: flex;
    color: #fff;
}

.form-content__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
}

.form__row {
    display: flex;
    flex: 1;
    

}


.form__block {
    flex:1;
    margin: 0 20px;
}

.form__input {
    width:100%;
    border-radius: 4px;
    //outline: none;
}

input:active, input:focus {
    outline: none;
  }
input::-moz-focus-inner {
    border: 0;
  }