.team_screen {
	background-color: rgba(0,0,0,0.31);
	background-image: url(../img/team-bg.png) ;
    background-size: cover;
    position: relative;
    @include tablet {
    background-position: center center;
    }
}

.team_wrapper {
    position: absolute;
	width: 50%;
	left:50%;
	height: 100%;
    background: rgba(#2f3234, .93);
    background-size: cover;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: space-around;
   // align-items: center;
    
    
    @include tablet {
        left:0%;
        width: 100%;
        align-items: center;
        text-align: center;
        
	}
}

// .accordeon_wrapper {
//     margin: 0 auto;
// }

.team-acco__trigger {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'gagalinregular';
    font-size: rem(14px);
  
    &:before {
      content: "";
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-top-color: #f9b43b;
      border-bottom-width: 0px;
  
    }
  }
  .team-acco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
        align-items: center;
    }
    margin: 150px;
  }
  

  .team-acco__content {
    display: flex;
    
  }

  .team-acco__pic-img {
      border-radius: 50px;
  }
  
  .team-acco__text {
    color: #fff;
    margin-left: 15px;
    @include text;
    @include tablet {
        text-align: center;
    }
  }
  
  .team-acco__text-title {
      font-weight: 800;
  }
  .team-acco__content {
    display: none;
  }
  
  .team-acco__item_active {
    .team-acco__trigger {
      color: rgb(236, 223, 39);
  
      &:before {
        transform: rotate(-180deg);
      }
    }
  
    .team-acco__content {
      display: block;
      display: flex;
      margin: 15px;

      @include tablet {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .team-acco__item {
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      @include tablet {
          align-items: center;
      };
  }