.team_screen {
	background-color: rgba(0,0,0,0.31);
	background-image: url(../img/team-bg.png) ;
    background-size: cover;
    position: relative;
    @include tablet {
    background-position: center center;
    }
}

.team_wrapper {
    position: absolute;
	  width: 50%;
	  left:50%;
	  height: 100%;
    background: rgba(#2f3234, .93);
    background-size: cover;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 80px;
    justify-content: space-around;
   // align-items: center;
    
    
    @include tablet {
        left:0%;
        width: 100%;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        
  }
  
    @include phone {
      padding-top: 0px;
      justify-content: center;
    }
}

// .accordeon_wrapper {
//     margin: 0 auto;
// }

.team-acco__trigger {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'gagalinregular';
    font-size: rem(24px);
  
    &:before {
      transition: .5s;
      margin-right: 10px;
      content: "";
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-top-color: #f9b43b;
      border-bottom-width: 0px;
  
    }

    @include phone {
      font-size: 24px;
    }
  }
  .team-acco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 135px;
    @include tablet {
        align-items: center;
        margin-bottom: 135px;
    }
    @include phone {
      margin-top: 70px;
  }
    
  }
  

  .team-acco__content {
    display: flex;
    
  }

  .team-acco__pic-img {
      border-radius: 50%;
      
  }
  
  .team-acco__text {
    color: #fff;
    margin-left: 15px;
    @include text;
    line-height: 29px;
    @include tablet {
        text-align: center;
    }
    @include phone {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  .team-acco__text-title {
      font-weight: 800;
      @include phone {
        font-size: 14px;
        line-height: 24px;
    
      }
  }
  .team-acco__content {
    // height: 0;
    // overflow:hidden;
    display: none;
  }
  
  .team-acco__item_active {
    // .team-acco__trigger {
    //   color: rgb(236, 223, 39);
  
    //   &:before {
    //     transform: rotate(-180deg);
    //   }
    // }
  
    .team-acco__content {
      display: block;
      //height: auto;
      overflow: visible;
      display: flex;
      margin: 15px;

      @include tablet {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .team-acco__item {
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      @include tablet {
          align-items: center;
      };
  }

   .team-acco__trigger--active {

    .team-acco__trigger {
        color:#f9b43b;
    
        &:before {
          transform: rotate(-180deg);
        }
      }
    }