.team_screen {
	background-color: rgba(0,0,0,0.31);
	background-image: url(../img/team-bg.png) ;
    background-size: cover;
    position: relative;
    @include tablet {
    background-position: center center;
    }
}

.team_wrapper {
    position: absolute;
	width: 50%;
	left:50%;
	height: 100%;
	background-image: url(../img/team-rect.png);
    background-size: cover;
    
    @include tablet {
        left:0%;
        width: 100%;
	}
}

// .team_screen {
// 	background-color: rgba(0,0,0,0.31);
// 	background-image: url(../img/team-bg.png);
// 	background-size: cover;
// 	height: 100vh;
// }

// .team_wrapper {
// 	position: absolute;
// 	right: rem(0px);
// 	top:rem(0px);
//     height: 100%;
//     width:50%;
//     display: flex;
//     flex-direction: column;
// 	align-items: center;
// 	justify-content: space-between;
// }

.accordeon_wrapper {
    height: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    
}

.accordeon {
    @include tablet {
        text-align: center;
    }
}

.accordeon_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accordeon_descr {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.accordeon_name {
color: #f9b43b;
font-family: Gagalin;
font-size: rem(14px);
font-weight: 400;
line-height: rem(28.11px);
}

.accordeon_descr {
    color:#ffffff;
 @extend .descr_text;
 
 
}
.accordeon_descr-ul {
    display: flex;
    justify-content: center;
}

.accordeon_descr-ul li {
    padding:rem(5px);
    
}

// .accordeon_descr p {
//     color:#ffffff;
//  @extend .descr_text;
 
// }