h1, h2, h3, h4, h5 {
    margin: 0;
    font-size: normal;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
html {
  font-size: 16px;

  // @include tablet {
  //   font-size: 14px;
  // }

  // @include phone {
  //   font-size: 12px;
  // }
}

* {
  box-sizing: border-box;
}



html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

// .container {
//   margin: 0 auto;
//   position: relative;
//   width: 940px;
//   // width: 95%;
//   display: flex;
//   flex-direction: column;
// }

// .wrapper {
//   position: relative;
//   width: 100%;
//   min-width: 940px + 20px;
//   min-height: 100%;
//   overflow: hidden;
// }


.mainwrapper {
  position: relative;
  width: 100%;
  //min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width:100%;
  max-width: 960px;
  position: relative;
}
  .order {
	border-radius:rem(5px);
	align-items:baseline;
  width: rem(100px);
  height: rem(38px);
  background-color: #e45028;
  display: flex;
  
} 

.order--colorless {
  width: rem(100px);
  height: rem(38px);
  display: flex;
  
} 

.order--grey {
  border-radius:rem(5px);
	align-items:baseline;
  width: rem(100px);
  height: rem(38px);
  background-color: #2f3234;   
  display: flex;
width: 130px;
  
  @include phone {
    margin: 0 auto;
    width: rem(130px);
  }
} 

.order-link {
  margin:auto;
  color:#fff;
  @extend .menu-fonts;
}



.main_title {
  
	font-family: 'gagalinregular';
	font-size:rem(72px);
  color: #f9b43b;
  line-height: rem(64px);
 
 
  @include phone {
    font-size: 50px;
    line-height: 48px;
  }
  @include phone--small {
    font-size: 30px;
    line-height: 36px;
  }
  
}

.main_title--black {
	font-family: 'gagalinregular';
	font-size:rem(72px);
  color: #2f3234;

  @include phone {
    font-size: 50px;
    line-height: 48px;
  }
  @include phone--small {
    font-size: 30px;
    line-height: 36px;
  }
  
}

.main_title--white {
	font-family: 'gagalinregular';
	font-size:rem(72px);
  color: #ffffff;
  line-height: 64px;

  @include phone {
    font-size: 50px;
    line-height: 48px;
  }
  @include phone--small {
    font-size: 30px;
    line-height: 36px;
  }
  
}



@mixin text{
  font-family: 'ubuntulight';
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
}

.screen {
  height: 100vh;
  min-height: 650px;

  @include phone {
    min-height: auto;
  }
}

@mixin visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.div--hiddenWrapper {
  @include visuallyHidden
}

